body {
    background-color: black;
}

h1 {
   
    text-transform: uppercase;
    font-size: 3rem;
}

#image {
    border: 5px solid white;
    width: 100%;

}

#all-items {
    width: 50%;    
    margin-left: 25%;
    margin-top: 10%;
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
}